<p-table class="table is-striped" [value]="tasks">
  <ng-template pTemplate="header">
    <tr>
      <th>Task ID</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cvList>
    <tr>
      <td>
        {{cvList.user.name}} {{cvList.user.surname}}
      </td>
      <td>
        Expand
      </td>
    </tr>
  </ng-template>
</p-table>
