<div class="uk-box-shadow-large" style="width: 100%">
  <nav class="navbar is-light" role="navigation">
  <div class="navbar-start">
    <a class="navbar-item" routerLink="/">Load Balancing</a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <button class="button" (click)="taskDialog.showDialog()">New task</button>
    </div>
  </div>
  </nav>
</div>

<app-task-dialog #taskDialog></app-task-dialog>
