<p-dialog [(visible)]="visible">

  <form (ngSubmit)="onSubmit()">

    <label class="label">
      Zadania na instancję:
      <input type="number" [(ngModel)]="command.tasksPerInstance" name="tasksPerInstance">
    </label>

    <label class="label">
      Całkowita liczba zadań:
      <input type="number" [(ngModel)]="command.totalTasksCount" name="totalTasksCount">
    </label>

    <label class="label">
      Rodzaj zadania:
      <select [(ngModel)]="command.taskType" name="taskType" class="select">
        <option *ngFor="let task of taskTypes"
                [value]="task"
                [selected]="task == command.taskType">
          {{task | translate }}
        </option>
      </select>
    </label>

    <label class="label">
      Algorytm:
      <select [(ngModel)]="command.algorithm" name="taskType" class="select">
        <option *ngFor="let algorithm of algorithms"
                [value]="algorithm"
                [selected]="algorithm == command.algorithm">
          {{algorithm | translate }}
        </option>
      </select>
    </label>

    <input type="submit" class="button" value="Potwierdź">

  </form>

</p-dialog>
