<section class="section">

  <div class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Charts
        </h1>
      </div>
    </div>
  </div>

  <section class="section">
    <app-charts></app-charts>
  </section>

  <div class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Jobs
        </h1>
      </div>
    </div>
  </div>

  <section class="section">
    <app-tasks></app-tasks>
  </section>

</section>
